html {
    height: 100%;
}
body {
    height: 100%;
}
/* Create two unequal columns that floats next to each other */
.column-content {
    float: left;
    height: 100%;
}
.left {
    width: 30%;
    height: 100vh;
    /*Left Side Background*/
    background-color: #F6F6F6;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10%;
}
.right {
    width: 70%;
    height: 100vh;
}
#phaser-div {
    height: 100vh;
}
#phaser-div>canvas {
    /*border: 1px solid #d3d3d3;*/
    margin: 0 auto;
    height: 100vh;
}
/*Headline*/
#headline {
    font-family: 'Source Sans Pro', serif;
    font-size: 48px;
    font-weight: 600;
    font-size: 24px;
    color: #62687C;
}
/*Body Copy*/
#body-copy {
    font-family: 'Source Sans Pro', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5;
    color: #62687C;
}
/*Form Field Copy*/
#left>div:nth-child(3)>input, #left>div:nth-child(5)>input {
    font-family: 'Source Sans Pro', serif;
    font-weight: 300;
    font-size: 16px;
    color: #4A4A4A;
    border: 1px solid #C4CDD5;
}
/*Form Label Copy*/
#basic-addon2 {
    font-family: 'Source Sans Pro', serif;
    font-weight: 300;
    font-size: 16px;
    color: #9a9a9a;
    background-image: linear-gradient(to bottom, #FFFFFF, #F9FAFB);
}
/*Run Simulation button*/
#left>div:nth-child(5)>span.input-group-btn>button {
    font-family: 'Source Sans Pro', serif;
    background-color: #FFFFFF;
    color: #4A4A4A;
    border: 1px solid #C4CDD5;
}
/*Reset button*/
#left>div:nth-child(7)>button.btn.btn-link {
    font-family: 'Source Sans Pro', serif;
    color: #24C4F8;
}
/*Remove Chair Button*/
.btn-single {
    font-family: 'Source Sans Pro', serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #24C4F8;
    *background-color: #24C4F8;
    background-image: -moz-linear-gradient(top, #34C9F9, #24C4F8);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#34C9F9), to(#24C4F8));
    background-image: -webkit-linear-gradient(top, #34C9F9, #24C4F8);
    background-image: -o-linear-gradient(top, #34C9F9, #24C4F8);
    background-image: linear-gradient(to bottom, #34C9F9, #24C4F8);
    background-repeat: repeat-x;
    border-color: #12B9EF;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#34C9F9', endColorstr='#24C4F8', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-single:hover, .btn-single:focus, .btn-single:active, .btn-single.active, .btn-single.disabled, .btn-single[disabled] {
    color: #FFFFFF;
    background-color: #24C4F8;
    *background-color: #003bb3;
}